body{
    margin: 0px;
    padding: 0px;
    color: #000000;
}

.header{
    background-color: rgb(47, 195, 253);
    height: 60px;
    line-height: 60px;
    padding: 20px;
    width: 100%;
    float: left;
    margin: 0px;
}

h1{
    float: left;
}

.navigation{
    float: right;
}

ul{
    list-style-type: none;
    padding-right: 45px;
    float: right;
}

li{
    padding-left: 20px;
    float: left;
}

a:link{
    text-decoration: none;
}

.content{
    width: 70%;
    height: 500px;
    background-color: #F2F2F2;
    float: left;
}

.sidebar{
    width: 30%;
    height: 500px;
    background-color: #454545;
    color: #ffffff;
    float: right;
}

p{
    margin: 20px;
}